*{

    margin: 0px;
    padding: 0px;
    
    }
    
    /* Navbar starts  */
    .navbar li,a{
    
    font-family: sans-serif;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
    list-style-type: none;
    color: black;
    }
    
    header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 3%;
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     /*lightgoldenrodyellow*/;
    color: black;
    
    }
    
    .navbar li{
    display: inline-block; 
    /* help karse item ne side by side */
    padding: 0px 20px;
    }
    header img{

    height: 60px;
    width: 140px;
    }

   /* NAVBAR ENDS  */

    /* DROP-DOWN */
    .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background: #FF5F6D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        min-width: 250px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
        color: black;
        border-radius: 20px;
      }
      
      .dropdown-content a {
          color: black;
          line-height: 40px;
      }

      .dropdown:hover .dropdown-content {
        display: block;
      }

      .navbar a:hover {
        border-bottom: 2px yellow/*#fff*/ solid;
        color: yellow;
        
    }


 


/* FOOTER */
.footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     /*lightgoldenrodyellow*/;
    color: white;
    display: flex;
    padding-left: 50px;
    padding-top: 10px;
    
 }

 .footer img {
  height: 60px;
  width: 140px;
  margin-right: 90px;
 }

 .box1 {
  text-decoration: none;
  list-style-type: none;
  margin-right: 50px;
  text-align: relative;
 }

 .box2 {
  text-decoration: none;
  list-style-type: none;
  margin-right: 50px;
 }

.box1 a:hover {
  color: yellow;
  
}
.box2 a:hover {
  color: yellow;
  
}

/* Newsletter */

.box{
  list-style-type: none;
}

.link_name {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
  list-style-type: none;
  color: black;
}

.input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: white;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
 .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}
 .input-box input[type="button"]{
  background: #fff;
  color: #140B5C;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}

/* impress */
/* @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400'); */


.impress{
  margin:0px;
  text-align:center;
  padding-top:30px;
  color:black;
  font-family:'Roboto';
  font-size:36px;
  font-weight:100;
  overflow:hidden;
  animation:bg 5s linear infinite;
  margin-bottom: 30px;
}

.dropping-texts {
  display: inline-block;
  width: 180px;
  text-align: left;
  height: 36px;
  vertical-align: -2px;
}

.dropping-texts > div {
  font-size:0px;
  opacity:0;
  margin-left:-30px;
  position:absolute;
  font-weight:300;   
  box-shadow: 0px 60px 25px -20px rgba(0,0,0,0.1);
}

.dropping-texts > div:nth-child(1) {
  animation: roll 6s linear infinite 0s;
}
.dropping-texts > div:nth-child(2) {
  animation: roll 6s linear infinite 1s;
}
.dropping-texts > div:nth-child(3) {
  animation: roll 6s linear infinite 2s;
}
.dropping-texts > div:nth-child(4) {
  animation: roll 6s linear infinite 3s;
}
.dropping-texts > div:nth-child(5) {
  animation: roll 6s linear infinite 4s;
}
.dropping-texts > div:nth-child(6) {
  animation: roll 6s linear infinite 5s;
}

@keyframes roll {
  0% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(-25deg);
  }
  3% {
    opacity:1;
    transform: rotate(0deg);
  }
  5% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
  }
  20% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    transform: rotate(0deg);
  }
  27% {
    font-size:0px;
    opacity:0.5;
    margin-left:20px;
    margin-top:100px;
  }
  100% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(15deg);
  }
}

@keyframes roll2 {
  0% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(-25deg);
  }
  3% {
    opacity:1;
    transform: rotate(0deg);
  }
  5% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
  }
  30% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    transform: rotate(0deg);
  }
  37% {
    font-size:1500px;
    opacity:0;
    margin-left:-1000px;
    margin-top:-800px;
  }
  100% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(15deg);
  }
}

/* @keyframes bg {
  0% {background: #ff0075;}
  3% {background: #0094ff;}
  20% {background: #0094ff;}
  23% {background: #b200ff;}
  40% {background: #b200ff;}
  43% {background: #8BC34A;}
  60% {background: #8BC34A;}
  63% {background: #F44336;}
  80% {background: #F44336;}
  83% {background: #F44336;}
  100% {background: #F44336;}
} */



/*  */


/* media queries */

@media only screen and (max-width: 600px) { 

  /* home page */

  .navbar{
   display: flex;
   flex-direction: column;
   padding-top: 5px;
   /* padding-left: 40px; */
   text-align: center;
   flex-wrap: wrap;
  }

  header{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    flex-wrap: wrap;
  }


  .navbar li{
   margin-top: 10px;
   /* flex-wrap: wrap; */
   text-align: center;

  }

.navbar a{
  flex-wrap: wrap;
  text-align: center;

}
/*  */

.impress{
  font-size: 25px;

}

.dropping-texts{
  padding-left: 30px;
}



/* home page till here */




}
